<header>
  <nav
    class="navbar navbar-expand-md bg-dark navbar-dark"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">NewsApp for CapitalOne</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <ngx-flag-picker   [selectedCountryCode]="selectedCountryCode"
                       [countryCodes]="countryCodes"
                       [customLabels]="customLabels"
                       (changedCountryCode)="changeSelectedCountryCode($event)">
      </ngx-flag-picker>

      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">

          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/technology',selectedCountryCode,'technology']">Technology</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/sports',selectedCountryCode,'sports']">Sports</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/entertainment',selectedCountryCode,'entertainment']">Entertainment</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
